:root {
  --color-text: #262728;
  --color-sub-text: #535353;
  --color-header: #e0e0e0;
  --color-header-bg: #111111;
  --color-header-content-bg: #a5a5a5;
  --color-header-highlight-bg: #232325;
  --color-header-icon: #8b8c8d;
  --color-footer: #8b8c8d;
  --color-footer-hover: #6db6ff;
  --color-highlight: #{$color-highlight};
  --color-shadow-highlight: rgb(167, 167, 167);

  --color-background: #eeeeee;
  --color-background-content: #e4e4e4;
  --color-background-highlight: darken(#{$color-background-content}, 5%);
  --color-background-modal: #333;
  --color-background-modal-content: darken(#{$color-background-modal}, 10%);

  // Auth
  --color-auth: #e4e4e4;
  --color-auth-bg: #222;
  --color-auth-footer-bg: #171717;
  --color-auth-input-bg: #585858;

  // Input
  --color-input-bg: darken(#{$color-background-content}, 5%);
  --color-input-shadow: rgba(79, 137, 246, 0.8);
  --color-input-border: #adadad;

  --color-border: #53535378;
  --color-border-highlight: #8fb2ff78;
  --color-disabled: #c5c8ce;
  --color-toast-bg: rgba(255, 255, 255, 0.6);
  --color-button-bg: #{$color-button-bg};
  --color-button-bg-hover: darken(rgba(255, 255, 255, 0.6), 15%);

  // Transalate
  --color-send-bg: #4aff90;
  --color-cancel-bg: #ff4967;

  // Answer
  --color-yes-bg: #4aff90;
  --color-no-bg: #ff4967;

  // Answer
  --color-highlight-ans: #99ccff;
}

.dark-mode {
  // Global
  --color-text: #e4e4e4;
  --color-sub-text: #888888;
  --color-text-invert: #e4e4e4;
  --color-sub-text-invert: #6d6e6f;

  // Header
  --color-header: #e0e0e0;
  --color-header-bg: #111111;
  --color-header-content-bg: #0a0a0a;
  --color-header-highlight-bg: #232325;
  --color-header-icon: #babcbe;

  // Footer
  --color-footer: #1e1f20;
  --color-footer-hover: #161718;

  // Background
  --color-background: #1e1f20;
  --color-background-content: #121314;
  --color-background-highlight: darken(#{$color-background-content-dark}, 5%);
  --color-background-modal: rgb(22, 22, 22);
  --color-background-modal-content: darken(#{$color-background-modal-dark}, 5%);

  --color-input-bg: #{$color-background-content-dark};
  --color-border: #4747478f;
  --color-border-highlight: #8fb2ff78;
  --color-disabled: #c5c8ce;
  --color-button-bg: #{$color-button-bg-dark};
  --color-button-bg-hover: darken(#3298ff, 15%);

  // Etc
  // --color-highlight: rgb(255, 71, 71);
  // --color-highlight: rgb(86, 219, 74);
  --color-highlight: #{$color-highlight-dark};

  --color-shadow-highlight: rgb(36, 36, 36);

  // Answer
  --color-highlight-ans: #0e253d;
}

.blue-mode {
  // Global
  --color-text: #e4e4e4;
  --color-sub-text: #6d6e6f;
  --color-text-invert: #e4e4e4;
  --color-sub-text-invert: #6d6e6f;

  // Header
  --color-header: #e0e0e0;
  --color-header-highlight-gblue: #e0e0e0;
  --color-header-bg: #161b22;
  --color-header-content-bg: #565969;
  --color-header-highlight-bg: #1f2936;
  --color-header-icon: #babcbe;

  // Footer
  --color-footer: #5e6064;
  --color-footer-hover: #e0e0e0;

  // Background
  --color-background: #0d1117;
  --color-background-content: #161b22;
  --color-background-highlight: darken(#{$color-background-content-blue}, 5%);
  --color-background-modal: #1b222c;
  --color-background-modal-content: darken(#{$color-background-modal-blue}, 5%);

  --color-input-bg: --color-background-content;
  --color-border: #4747478f;
  --color-border-highlight: #8fb2ff78;
  --color-disabled: #c5c8ce;
  --color-toast-bg: rgba(0, 0, 0, 0.6);
  --color-button-bg: #{$color-button-bg-blue};
  --color-button-bg-hover: darken(#6db6ff, 15%);

  // Answer
  --color-highlight-ans: #3b6894;
  --color-highlight: #{$color-highlight-blue};
}

html {
  --offline: gray;
  --online: rgb(126, 255, 175);

  // Header
  --header-height: 48px;
  --header-button-hover: #272727;
  --status-bar-highlight-color: #ef4444;
  --offline-notification-height: 20px;
  --header-task-height: 55px;

  // Footer
  --footer-height-wave: 20px;
  --footer-height-content: 40px;
  --footer-height: calc(var(--footer-height-wave) + var(--footer-height-content));

  // Sidebar
  --sidebar-width: 300px;

  // Friend aside
  --friend-aside-width: 300px;

  // Section menu aside
  --section-menu-aside-width: 300px;

  @media (max-width: 425px) {
    --section-menu-aside-width: 100vw;
  }

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////

// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Lato:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  background-color: var(--color-background);

  // background: linear-gradient(90deg, rgba(181, 181, 181, 0.5), rgba(255, 0, 0, 0) 25%, transparent 100%),
  // linear-gradient(-90deg, rgba(181, 181, 181, 0.5), rgba(255, 0, 0, 0) 25%, transparent 100%);

  color: var(--color-text);

  font-size: #{$font-size-base};
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  font-family: "Fredoka", sans-serif;
}

// Scrollbar color
::-webkit-scrollbar {
  width: 6px;
  height: 100%;
  background-color: var(--color-background-modal);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(93, 93, 93);
  box-shadow: inset 0 0 5px var(--color-background-highlight);
  // background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--color-background-highlight);
  border-radius: 10px;
  background-color: transparent;
}

// html {
//   @include mobile {
//     font-size: #{$font-size-small};
//   }
//   @include tablet {
//     font-size: #{$font-size-base};
//   }
//   @include desktop {
//     font-size: #{$font-size-large};
//   }
// }
